* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
.first-section {
    display: flex;
    margin-bottom: 60px;
    margin-left: 160px;
}
.section-details {
    width: 50%;
    margin-top: 150px;
}
.another-color {
    color: orange;
}
.section-details  h1 {
    font-size: 60px;
    border-left: 4px solid #FF5959;
    ;
}
.section-details  p {
    font-size: 18px;
    line-height: 28px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.section-details a{
    background-color: #FF5959;
    padding: 14px 38px;
    color: white;
    border-radius: 10px;
}
.section-details small {
    display: block;
    margin-top: 35px;
}
.section-img {
    width: 50%;
}
.section-img img {
    width: 500px;
    height: 600px;
}
/*==============
 2nd part css
 ================ */
 .mission-main {
     margin-left: 160px;
 }
 .mission-main h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
 }
 .mission-main .diff-color {
    color: orange;
 }
 .mission-items {
    display: flex;

 }
 .mission {
    width: 25%;
    margin-right: 2%;
    box-shadow: 10px 10px 10px rgb(231, 221, 221);
    border-radius: 10px;
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 80px;
 }
 .mission-bg {
    background-color: #4F9DA6;
 }
 .vission-bg {
     background-color: #FF5959;
 }
 .goals-bg {
     margin-right: 0;
     background-color: #FFF4D6;
 }
 .mission-img img {
     height: 145px;
     width: 145px;
 }
 .mission-detils h1 {
     text-align: start;
     margin-bottom: 30px;
 }
 .mission-detils p {
     text-align: justify;
 }

 /* =========================
     3rd section css  
 =============================    */

 .idea-area {
     display: flex;
     background-image: url(images/shapes/shape-1.png);
     background-repeat: no-repeat;
     background-size: 25%;
     background-position: left;
     margin-bottom: 100px;
     margin-left: 80px;
 }
 .idea-img img {
     width: 80%;
     padding-left: 100px;
 }
 .idea-details {
     margin-top: 40px;
     margin-left: 50px;
 }
 .idea-details h2 {
     font-size: 36px;
     font-weight: 700;
     color: #333333;
 }
 .idea-details p {
     width: 80%;
     margin-top: 10px;
     margin-bottom: 30px;
     line-height: 23px;
     font-size: 18px;
 }
 .idea-details a {
     background-color: #FF5959;
     color: white;
     padding: 15px 31px;
     border-radius: 10px;
 }

 /* community part css */
 .community {
     display: flex;
     background-image: url(images/shapes/shape-1.png);
     background-repeat: no-repeat;
     background-position:right top 160px;
     background-size: 25%;
     padding-bottom: 150px;
     margin-right: 30px;
     margin-left: 160px;
 }
 .community-detials {
     margin-top: 50px;
 }
 .community-detials h2 {
     font-size: 36px;
     font-weight: 700;
 }
 .community-detials p{
     font-size: 20px;
     line-height: 30px;
     margin-right: 4%;
     margin-top: 20px;
     margin-bottom: 30px;
 }
 .community-detials a {
     background-color: #FF5959;
     padding: 15px 32px;
     color: white;
     border-radius: 10px;
 }
 .comunity-img img {
     width: 80%;
 }

 /* ==================
    contact form css 
 ======================*/
 .contact-form {
     text-align: center;
     background-color: rgb(153, 164, 172);
     border-radius: 10px;
     margin-right: 100px;
     margin-left: 160px;
     padding-bottom: 50px;

 }
 .name-field {
     height: 40px;
     width: 500px;
     border-radius: 10px;
     padding-left: 30px;
     border: 2px solid rgb(25, 116, 66);
     margin-bottom: 20px;
 }
 .age-area {
     margin-bottom: 20px;
 }
 .btn {
     margin-top: 30px;
     padding: 20px 40px;
     background-color: orange;
     color: white;
     border-radius: 10px;
     border: none;
     margin-right: 20px;
 }

 /* footer part css  */
 .footer {
     background-color: #0B0D17;
     text-align: center;
     padding: 45px 0px;
 }
 .footer h2 {
     font-size: 36px;
     color: white;
     margin-bottom: 25px;
 }
 .footer span {
     color: orange;
 }
 .footer p {
     color: white;
     font-size: 18px;
 }